* {
    box-sizing: border-box;
}
.clear {
    clear: both;
}
.container {
    width: 980px;
    margin: 20px auto;
    background-color: #bac1b8;
    padding: 20px;
}
button {
    border-radius: 5px;
    background-color: silver;
}
input [type ="search"]  {
    border-radius: 5px;
}
.form_left {
    float: left;
    width: 25%;
    text-align: right;
    line-height: 2;
    font-weight: bold;
    margin: 0 5px;
}
.form_right{
    float: left;
    width: 58%;
    line-height: 2;
}
.form_right input {
   padding: 2px 5px;
    width: 200px;
}
#search_form {
    padding: 25px 200px;
    font-weight: bold;
}
#search_form input {
    border-radius: 10px;
    margin:5px;
}
#number {
    width: 50px;
}
#time {
    width: 130px
}
#date {
    width: 130px
}
#color {
    width: 80px
}
#submit_button {
    margin: 20px 200px;
}
#textInput {
    width: 50px;
}