* {
    box-sizing: border-box;
    margin:0;
}
.container {
    padding:10px;
    position: relative;
    width: 70%;
margin: auto;
}
.clear {
    clear: both;
}
p {
    padding: 10px;
}
#a {
    height: 50px;
    border: 5px solid white;
    background-color: green;
    float:left;
    width: 75%;
}
#b {
    height: 50px;
    border: 5px solid white;
    background-color: green;
    float:right;
    width: 25%;
}
#c {
    border: 5px solid white;
    background-color: #b8b800;
    float: left;
    display: inline-block;
    height: 46.3vw;
    width: 15%;
    text-align: justify;
    overflow: scroll;
}
#d {
    height: 50px;
    border: 5px solid white;
    background-color: blue;
    display: inline-block;
    width: 60%;

}
#e {
    height: 50px;
    border: 5px solid white;
    background-color: blue;
    width: 60%;
    display: inline-block;
}
#f {
    background-color: red;
    border: 5px solid white;
    width: 25%;
    float: right;
    height: 105px;

}
#g {
    background-color: blue;
    border: 5px solid white;
    width: 60%;
    display: inline-block;
    height: 34.3vw;
    text-align: justify;
    overflow: hidden;
}
#h {
    background-color: red;
    border: 5px solid white;
    width: 25%;
    float: right;
    height: 34.3vw ;
    display: inline-block;
    text-align: justify;
    overflow: scroll;
}
#i {
    height: 50px;
    width: 100%;
    background-color: teal;
}



